/* colors
 * red #cc0000
 * purple #6633cc
 * orange #ff6600
 * blue #003399
 * yellow #ffcc00
 * green #006633
*/

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body:not(.iframe) {
  background-color: #f7f7f7;
}

#app:not(.iframe) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#app.iframe {
  margin: 0 auto !important;
}

a {
  color: #63c;
}

a:hover,
a:focus,
a:active {
  color: #333;
}

a,
input,
button {
  outline: none;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  margin: 0 0 1rem;
}

hr {
  margin: 1rem 0;
  height: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}

label {
  display: block;
  margin: 0 0 1rem;
  font-weight: 600;
}

label input[type="checkbox"],
label input[type="radio"] {
  display: inline-block;
  margin: 0 0.5rem;
}

label textarea,
label input[type="text"],
label input[type="email"],
label input[type="password"] {
  margin-top: 0.5rem;
}

textarea {
  resize: none;
  min-height: 150px;
  line-height: 1.4;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  padding: 1rem;
  line-height: 1;
  margin: 0 0 1rem;
  border: 1px solid #ddd;
  font-size: 1em;
  border-radius: 7px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  outline: none;
}

select {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #ddd;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: calc(1rem - 2px);
  padding-bottom: calc(1rem - 3px);
}

textarea:focus,
input:focus {
  background: #fff;
}

.button,
button,
input[type="submit"] {
  box-sizing: border-box;
  font-size: 0.9em;
  display: block;
  border: 0;
  background: #f5911e;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  border: 1px solid #f5911e;
  line-height: 1.5;
}

.button.secondary,
button.secondary,
input.secondary[type="submit"] {
  border: 1px solid rgba(51, 0, 102, 0.25);
  background: rgba(255, 255, 255, 0.6);
  color: #330066;
}

.button.secondary:hover,
.button.secondary:active,
.button.secondary:focus,
button.secondary:hover,
button.secondary:active,
button.secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:active,
input[type="submit"].secondary:focus {
  color: #fff;
  background-color: #333;
}

.button.delete,
button.delete,
input[type="submit"].delete {
  background-color: #ca3333;
  color: #fff;
}

.button.delete:hover,
.button.delete:active,
.button.delete:focus,
button.delete:hover,
button.delete:active,
button.delete:focus,
input[type="submit"].delete:hover,
input[type="submit"].delete:active,
input[type="submit"].delete:focus {
  color: #fff;
  background-color: #333;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  background: #333;
}
input[type="submit"]:disabled {
  background: #bbb !important;
  color: #fff !important;
  cursor: default;
}

#app .select__control,
#app .select-search__control {
  background: transparent;
  border-radius: 7px;
  margin: 0;
}

#app .select__control,
#app .select__control--is-focused,
#app .select-search__control,
#app .select-search__control--is-focused {
  border: 0;
  box-shadow: none;
}

#app .select__control--is-focused,
#app .select-search__control--is-focused {
  background: #fff;
}

#app .select__value-container {
  padding: 1rem;
}

#app .select-search__value-container {
  padding: 0.57rem 1rem;
}

#app .select__multi-value,
#app .select-search__multi-value {
  border-radius: 7px;
}

#app .select-search__multi-value__remove,
#app .select__multi-value__remove {
  border-radius: 7px;
}

#app .react-datepicker__close-icon::after {
  background-color: transparent;
  color: #999;
}

#app .marker-cluster {
  background-color: rgba(0, 0, 0, 0.15);
}

#app .marker-cluster div {
  background-color: #fff;
}

/* React Tooltip */
.__react_component_tooltip {
  font-size: 12px;
  padding: 0.5rem 0.7rem;
  line-height: 1;
  border-radius: 7px;
}

.__react_component_tooltip.type-dark {
  background-color: rgba(0, 0, 0, 0.9);
}

.__react_component_tooltip.type-dark.place-left:after {
  border-left-color: rgba(0, 0, 0, 0.9);
}

.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: rgba(0, 0, 0, 0.9);
}

.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}

/* Leaflet Draw rules */
.sr-only {
  display: none;
}

.leaflet-editing-icon {
  border-radius: 100%;
}
